{% extends 'base.html.twig' %}

{% block title %}Productos
{% endblock %}

{% block body %}

	<div class="container">
		<br>
		<div class="row" id="orders">
			<img src="/images/load.gif" alt="load" style="margin-left: auto; margin-right: auto;">
		</div>
	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="/js/orders.js"></script>
{% endblock %}
